<div class="timer-container">
  <div class="d-flex">
    <ng-container *ngIf="hours > 0">
      <span class="h1">{{ hours }}</span
      ><span style="margin-top: 20px">h</span>
      <span class="h1" style="margin-left: 10px">{{ minutes }}</span
      ><span style="margin-top: 20px">m</span>
    </ng-container>
    <ng-container *ngIf="minutes > 0 && hours == 0">
      <span class="h1" style="margin-left: 10px">{{ minutes }}</span
      ><span style="margin-top: 20px">m</span>
    </ng-container>
    <span class="h1" style="margin-left: 10px">{{ seconds }}</span
    ><span style="margin-top: 20px">s</span>
  </div>
  <div class="timer-buttons" *ngIf="timerConfig.autoStart == false">
    <ng-container *ngIf="!isTimerRunning">
      <button class="start-button" (click)="startTimer()">Start Timer</button>
    </ng-container>
    <ng-container *ngIf="isTimerRunning">
      <button class="stop-button" (click)="stopTimer()">Stop Timer</button>
    </ng-container>
  </div>
</div>
